# default configuration - won't be overridden
targetLanguages.en=EN-US
targetLanguages.pt=PT-BR
translation.deepl.api.key=
translation.openai.api.key=
# OpenAI model to use for translation. See https://platform.openai.com/docs/models for more details.
#translation.openai.model=gpt-5.1
translation.openai.model=gpt-4.1-mini
# Prompt to use for OpenAI translation. {{sourceLanguage}} and {{targetLanguage}} will be replaced with the actual language codes. You can use this prompt to instruct the model to preserve HTML tags/entities, or to return the translation in a specific format (e.g. JSON).
translation.openai.prompt="You are a translation engine. Return only strict JSON object key->translated text.Preserve HTML tags/entities exactly. Preserve the JSON structure as received, translate only the values and keep the keys exactly as they are. The source language is {{sourceLanguage}} and the target language is {{targetLanguage}}. Those languages are expressed as ISO code with or without regional variations, if the variation is specified please ensure the translation match the regional specification. For example, if the target language is PT-BR, please ensure that the translation is in Brazilian Portuguese and not European Portuguese."

# Glossary CSV discovery (files are managed in Jahia and loaded from this site-relative folder).
translation.glossary.relative.path=/files/glossaries

# Type of nodetype to use for translation, by default: jnt:page, jmix:mainResource, jmix:editorialContent, jnt:content, jnt:category
translation.nodetypes=jnt:page,jmix:mainResource,jmix:editorialContent,jnt:content,jnt:category
