# Eclipse
/.classpath
/.project
/.settings

# Intellij
.idea
*.iml
*.ipr

# Maven
target

# Jahia DX Studio
repository.xml.generated

node
node_modules
src/main/resources/javascript/apps
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
release.properties
